
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
padding:10px;
max-width: 100vw;

}

h1 {
    font-family: 'Lilita One', cursive;
}


h2 h3 h4{
    font-family: 'PT Sans Caption', sans-serif;
}

.highscoreContainer {
display: flex;

}

.timerContainer {
display: flex;
justify-content: right;
}

.greetingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.imgContainer {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-bottom: 20px;
}

.titleContainer {
padding: 5px;
}

.subheadingContainer {
padding: 5px;
}

.buttonContainer {
    padding-top: 15px;
}

.startButton {
    background-color: #fa748f;
    color: #fff;
    border: none;
    padding: 20px;
    font-size: 1.2rem;
    cursor: pointer;
}